@import url('../../App.css');

.property-card {
    border: none;
    border-radius: 5px;
    margin: 2rem;
    width: calc(33.33% - 100px);
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--dark-orange);
  }
  
  .property-card img {
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .property-card-content {
    padding: 30px;
  }
  
  .property-card h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .property-card p {
    margin: 0;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
  }
  
  .property-card-link {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: var(--orange);
    border: 1px solid var(--dark-orange);
    border-radius: 0.8rem;
    cursor: pointer;
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    text-align: center; 
    margin-top: 10px; 
    transition: 0.3s;
  }
  
  .property-card-link:hover {
    background-color: var(--white);
    border: 1px solid var(--orange);
    color: var(--orange);
  }

  @media (max-width: 576px) {
    .property-card {
      width: 90%; 
      margin: 10px 5px 10px 5px; 
      overflow: hidden; 
    }
  
    .property-card-content {
      padding: 5px; 
      text-align: center; 
    }
  
    .property-card h4 {
      font-size: 1rem; 
    }
  
    .property-card p {
      font-size: 0.9rem; 
    }

    .property-list {
      margin-left: 30px;
    }
  }
  